
.env
.env.local
.env.*.local
*.env
*.pem
*.key
*.secret
config/*.secret.exs

# Node.js
node_modules/
jspm_packages/

# Python
venv/
.venv/
env/
.env/
ENV/

# Go
/vendor/

# Java / Maven / Gradle
.gradle/
build/
target/

# ==========================================
# 3. Application Logs & Diagnostic Caches
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.npm
.pytest_cache/
.coverage
htmlcov/


*.db
*.sqlite
*.sqlite3
.dump.sql
pids
*.pid
*.seed
data/
uploads/


dist/
out/
bin/
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.class



.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
